:root {
  --cinza2: rgb(40, 42, 47);
  --cinza3: rgb(30, 31, 36);
  } 

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}

.cards .cards-title {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 20px;
  width: 100%;
}

.cards  .deck-card-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 30px 30px;
}

.deck-card-section:hover {
  transform: translateY(-8px);
}

.cards .deck-card-section .card-border {
  margin-bottom: 8px;
}


.deck-card-section button {
  font-family: 'Acme', sans-serif;
  font-size: 16px;
  color: white;
  background-color: #C0322E;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 8px black;
  cursor: pointer;
  padding: 4px 18px;
  width: auto;
}

.deck-card-section button:hover {
  transform: scale(1.2, 1.2);
}